.order-container {
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    height: 100%;
}

.order-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: auto;
}

.order-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: -50px;
}