ion-card-header,
#card-buttons,
#card-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-flow: column-reverse; */
}

#card-contenting {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-input {
    /* border: solid 1px black; */
    /* background-color: rgb(0, 0, 0); */
}

#email-input,
#password-input {
    width: 100%;
}